[project]
name = "rail-pddl"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "ipytest>=0.14.2",
    "mypy>=1.15.0",
    "pyright>=1.1.399",
]
