[project]
name = "rail-pddl"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "networkx",
    "matplotlib",
    "scipy",
    "pyqt5",
    "black",
    "pyright",
    "pytest-html",
    "pytest-pyright",
    "pytest-timeout",
    "rich",
    "mrppddl",
    "procthor",
    "common",
    "gridmap",
    "environments",
    "prior>=1.0.3",
    "ai2thor>=5.0.0",
    "sentence-transformers>=5.1.2",
    "scikit-image>=0.25.2",
    "shapely>=2.1.2",
    "google-generativeai>=0.8.5",
    "openai>=2.8.1",
    "python-dotenv>=1.2.1",
    "pandas>=2.3.3",
]

[tool.uv.sources]
mrppddl = { path = "mrppddl", editable = true }
common = { path = "common", editable = true }
gridmap = { path = "gridmap", editable = true }
environments = { path = "environments", editable = true }
procthor = { path = "procthor", editable = true }

[tool.pytest.ini_options]
filterwarnings = [
    "ignore:invalid escape sequence:SyntaxWarning"
]
