[project]
name = "rail-pddl"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "networkx",
    "matplotlib",
    "scipy",
    "pyqt5",
    "black",
    "pyright",
    "pytest-html",
    "pytest-pyright",
    "pytest-timeout",
    "rich",
    "mrppddl",
    "procthor",
    "common",
    "gridmap",
    "environments",
    "bench",
    "prior>=1.0.3",
    "ai2thor>=5.0.0",
    "sentence-transformers>=5.1.2",
    "scikit-image>=0.25.2",
    "shapely>=2.1.2",
    "google-generativeai>=0.8.5",
    "openai>=2.8.1",
    "python-dotenv>=1.2.1",
    "pandas>=2.3.3",
    "pytest-xdist>=3.8.0",
    "roslibpy",
    "mlflow>=2.19.0",
    "dash>=3.3.0",
    "dash-bootstrap-components>=1.6.0",
    "ty>=0.0.12",
]

[tool.uv.sources]
mrppddl = { path = "packages/mrppddl", editable = true }
common = { path = "packages/common", editable = true }
gridmap = { path = "packages/gridmap", editable = true }
environments = { path = "packages/environments", editable = true }
procthor = { path = "packages/procthor", editable = true }
bench = { path = "packages/bench", editable = true }

[tool.ty.environment]
extra-paths = [
    "packages/mrppddl/src",
    "packages/common/src",
    "packages/gridmap/src",
    "packages/procthor/src",
    "packages/environments/src",
    "packages/bench/src",
]

[tool.pytest.ini_options]
filterwarnings = [
    "ignore:invalid escape sequence:SyntaxWarning"
]
addopts = "-v -n auto --html=data/test_logs/test_report.html --self-contained-html"
markers = [
    "slow: marks tests as slow to run (deselect with '-m \"not slow\"')"
]
