[project]
name = "rail-pddl"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "networkx",
    "matplotlib",
    "scipy",
    "pyqt5",
    "black",
    "pyright",
    "pytest-html",
    "pytest-pyright",
    "mrppddl",
    "rich",
]

[tool.uv.sources]
mrppddl = { path = "./mrppddl" }
