name: Install, typechecking, and tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    types: [opened, reopened, synchronize, ready_for_review]

permissions:
  contents: read

jobs:
  uv-example:
    name: python
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Debug workspace
        run: |
          pwd
          ls -la
          echo "Files:"
          ls -la
          echo "Searching for pyproject.toml:"
          find . -maxdepth 3 -name pyproject.toml -print

          # hard fail if not found in repo root
          test -f pyproject.toml

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Run typechecking
        run: uv run ty check

      - name: Run tests
        run: uv run pytest
